*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a{
    text-decoration: none!important;
}
.home-body{
    position: relative;
}
.whatapp-icon{
    left: 1%!important;
    right: 97%!important;
    bottom: 2%!important;
}
.whatapp-icon img{
    height: 60px;
}
.herosec{
    position: relative;
}
.herosec .hero-sec-header{
    position: absolute;
    top: 13%;
    left: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500!important;
    font-size: 3rem;
}
.herosec a{
    background: #087A2E;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    position: absolute;
    top: 40%;
    left: 10%;
    color: #FFFFFF;
    padding: 6px 18px;
    font-family: 'Inter';
    font-weight: 700!important;
    font-size: 24px;
}
.herosec a .BoxArrowInRight{
    font-size: 30px;
}
.herosec a:hover{
    color: #FFFFFF;
    background: #02581f;
}
.herosec .bottom-text{
    position: absolute;
    bottom: 0;
    left: 36%;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500!important;
}
.herosec .bottom-text h1{
    font-size: 3rem;
}
.herosec .bottom-text p{
    font-size: 1.5rem;
}
.second-sec-selector div input[type=radio]{
    accent-color: #087A2E!important;
    height: 1.2rem;
    width: 1.2rem;
    
}
.second-sec-selector div label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700!important;
    font-size: 24px;
    
}
.visa-card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 300px;
    height: 353px;
}
.visa-card h3{
    color: #087A2E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700!important;
    font-size: 24px;
    line-height: 29px;
}
.visa-card a{
    border: 1px solid #000000;
    padding: 4px 12px;
    color: #087A2E;
    border-radius: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700!important;
    font-size: 20px;
}
.visa-card a .BoxArrowInRight{
    font-size: 28px;
}
.AssistanceContact{
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.AssistanceContact h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700!important;
    font-size: 40px;
    margin-top: 60px;
}
.AssistanceContact a{
    display: inline-block;
    background: #087A2E;
    border-radius: 24px;
    padding: 6px 20px;
    color: #FFFFFF;
    font-size: 24px;
}
.AssistanceContact a:hover{
    background: #04551f;
    color: #FFFFFF;
   
}
.AssistanceContactLink .whatsapp-img{
    height: 26px;
}
.ELIGIBILITY_CRITERIA_Card,.Documents_Required_Card,.GUIDELINES_Card{
    border-radius: 24px!important;
}
.ELIGIBILITY_CRITERIA_Card h2, .GUIDELINES_Card h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700!important;
    font-size: 30px;
    color: #087A2E;
}
.ELIGIBILITY_CRITERIA_Card ol li,.ELIGIBILITY_CRITERIA_Card ol p,.Documents_Required_Card ol li,.GUIDELINES_Card ol li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600!important;
    font-size: 20px;
    margin: 10px 0;
}
.Documents_Required_Card h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700!important;
    font-size: 30px;
}
.Documents_Required_Card h2 span{
    color: #087A2E;
}
.faq{
    margin-top: 68px;
}
.faq h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400!important;
    font-size: 3rem;
    color: #087A2E;
}
.faq p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500!important;
    font-size: 20px;
}
.accordion-button{
    transition: all 0.6s ease!important;
}
.accordion-button:active{
    color: #ffffff!important;
    background-color: #087A2E!important;
}
.accordion-button:not(.collapsed){
    color: #ffffff!important;
    background-color: #087A2E!important;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(./arrow-204-xxl.png)!important;
}
.footer-seprator-img{
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.accordion-header button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500!important;
}
.accordion-body{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500!important;
}

@media screen and (max-width: 1246px) {
    .herosec .hero-sec-header {
        font-size: 2rem;
    }
    .herosec a {
        top: 41%;
        padding: 5px 12px;
        font-size: 16px;
    }
    .herosec a .BoxArrowInRight{
        font-size: 24px;
    }
    .herosec .bottom-text h1 {
        font-size: 2rem;
    }
    .herosec .bottom-text p {
        font-size: 1rem;
    }
    
  }
@media screen and (max-width: 952px) {
    .herosec .bottom-text {
        left: 33%;
    }
    .ELIGIBILITY_CRITERIA_Card ol li, .ELIGIBILITY_CRITERIA_Card ol p, .Documents_Required_Card ol li, .GUIDELINES_Card ol li {
        font-size: 18px;
    }
    .visa-card{
        width: 290px;
        height: 333px;
    }
    
  }
@media screen and (max-width: 792px) {
    .herosec a {
        top: 48%;
    }
    .herosec a .BoxArrowInRight {
        font-size: 23px;
    }
    .herosec .bottom-text h1 {
        margin-bottom: 0;
    }
    .herosec .bottom-text p {
        margin-bottom: 0;
    }
    .herosec .bottom-text {
        left: 30%;
    }
    .second-sec-selector div label {
        font-size: 21px;
    }
    .visa-card h3 {
        font-size: 21px;
    }
    .visa-card h5 {
        font-size: 1rem;
    }
    .visa-card h1 {
        font-size: 2rem;
    }
    .visa-card a {
        padding: 4px 10px;
        font-size: 18px;
    }
    .visa-card a .BoxArrowInRight{
        font-size: 24px;
    }
    .visa-card p{
        margin-bottom: 0;
    }
    .AssistanceContact h1 {
        font-size: 38px;
    }
  
  }
@media screen and (max-width: 642px) {
    .ELIGIBILITY_CRITERIA_Card h2, .GUIDELINES_Card h2 {
        font-size: 22px;
    }
    .ELIGIBILITY_CRITERIA_Card ol li, .ELIGIBILITY_CRITERIA_Card ol p, .Documents_Required_Card ol li, .GUIDELINES_Card ol li {
        font-size: 13px;
    }
    .faq h1 {
       margin-bottom: 0!important;
    }
    .faq p {
        font-size: 17px;
    }
    .herosec .hero-sec-header,.herosec .bottom-text h1  {
        font-size: 1.5rem;
    }
    .herosec a {
        padding: 3px 10px;
        font-size: 11px;
    }
    .herosec a .BoxArrowInRight {
        font-size: 18px;
    }
    .herosec .bottom-text p {
        font-size: 0.8rem;
    }
    .tawk-min-container .tawk-button-circle.tawk-button-large {
        width: 40px!important;
        height: 40px!important;
    }
    .whatapp-icon img {
        height: 43px!important;
    }
  }
  @media screen and (max-width: 492px) {
    .herosec .hero-sec-header, .herosec .bottom-text h1 {
        font-size: 1.2rem;
    }
    .herosec a {
        font-size: 10px;
        border: 1px solid #FFFFFF;
    }
    .herosec .bottom-text p {
        font-size: 0.6rem;
    }
    .second-sec-selector div label {
        font-size: 13px;
    }
    .second-sec-selector div input[type=radio] {
        height: 1rem;
        width: 1rem;
    }
    .visa-card h3 {
        font-size: 17px;
    }
    .visa-card h1 {
        font-size: 1.5rem;
    }
    .visa-card a {
        font-size: 15px;
    }
    .visa-card a .BoxArrowInRight {
        font-size: 18px;
    }
    .AssistanceContact h1 {
        font-size: 27px;
        margin-top: 0px;
    }
    .AssistanceContact a {
        font-size: 21px;
    }
    .Documents_Required_Card h2 {
        font-size: 23px;
    }
    .ELIGIBILITY_CRITERIA_Card h2, .GUIDELINES_Card h2 {
        font-size: 19px;
    }
    .ELIGIBILITY_CRITERIA_Card ol li, .ELIGIBILITY_CRITERIA_Card ol p, .Documents_Required_Card ol li, .GUIDELINES_Card ol li {
        font-size: 11px;
    }
    .faq p {
        font-size: 13px;
    }
    .footer-seprator-img {
        height: 30px;
    }
    .AssistanceContact{
        height: 30vh;
    }
    .accordion-header button{
        font-size: 15px;
    }
    .accordion-body{
       font-size: 13px;
    }
  }
  @media screen and (max-width: 420px) {
    .herosec .bottom-text {
        left: 25%;
    }
    .AssistanceContactLink{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        transform: scale(0.6);

    }
    .AssistanceContactLink a{
        display: flex;
        flex-direction: row;
        padding: 10px 20px;
    }
    .AssistanceContactBtn{
        width: 179px;
    }
  }